# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# Compile code from .ts files with tsc
js/
logs/

# .env file
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE
.DS_Store
.idea
.idea/*